/* body {
  background: url(./../images/Cinema-Seats-1920x1080_ix3dp.jpg);
  color: white
}

.jumbotron {
  text-align: center;
  background: url(./../images/Cinema-Seats-1920x1080_ix3dp.jpg);
  
} */